<% if Spree::News.published.any? %>
  <div class="news-ticker">
    <h3>Latest News</h3>
    <p></p>
    <div id="news-container">
      <ul>
        <% Spree::News.published.each do |news_item| %>
          <li>
            <div>
              <h6>
                <%= news_item.created_at.strftime("%B %d, %Y") %>
              </h6>
              <%= news_item.description %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <script>
    $(function(){
      $('#news-container').vTicker({
        speed: 1000,
        pause: 4000,
        animation: 'fade',
        mousePause: true,
        showItems: 1
      });
    });
  </script>
<% end %>
